:root {
  --primary-color: #00c3a5;
  --secondary-text-color: #747474;
  --primary-text-color: #142530;
  --font-weight: 400;
  --primary-font-family: Roboto;
  --backround-color: #edeff2;
  --highlight-color:  #4071b5;
  --highlight-background-color: #eef4fe ;
}
