<p class="reschedule-appointment-title">
  Confirm your appointment with
  <span class="bold"
    >Dr. {{ appointment()?.Doctor?.Name }}
    {{ appointment()?.Doctor?.SecondName }}</span
  >
</p>

<!--currently selected date time of appointment-->
<app-date-time-input [value]="appointment()?.Start" [loading]="loading()" />

<!--new appointment slot picker-->
<p class="bold">Did you have an unexpected situation?</p>
<p>You can change the appointment for when it suits you better</p>
<app-appointment-time-picker
  [visibleSlots]="visibleSlots()"
  (prev)="setPreviousWeek()"
  (onSelectSlot)="selectSlot($event)"
  (next)="setNextWeek()" />

<!--confirmation button-->
@if (newSlot()) {
  <div class="submit-section">
    <p class="bold">Reschedule</p>
    <p>Click the button to confirm</p>
    <button class="submit-button bold" (click)="submitSelection()">
      {{ newSlot()?.Start | dateTimeInputSlot }}
    </button>
  </div>
}
