.submit-section {
  margin-top: 40px;
}

.reschedule-appointment-title {
  font-size: 17px;
}

.submit-button {
  margin-top: 20px;
  width: 100%;
  background-color: #3d82df;
  color: white;
  border-radius: 5px;
  border-color: transparent;
  padding: 10px;
  cursor: pointer;
}
