<div class="container">
  <!--  startDate: {{ startDate()}}-->
  <!--  @if(weekDays()) {-->

  <button [disabled]="visibleSlots()[0].date === today()" (click)="prev.emit()">
    <
  </button>
  @if (visibleSlots()) {
    <div class="calendar">
      @for (day of visibleSlots(); track day) {
        <div class="calendar-day">
          <div class="calendar-day--header">
            <p>{{ day.date | dayLabel }}</p>
            <p>{{ day.date | date: 'd MMMM' }}</p>
          </div>
          <div class="calendar-day--body">
            @for (slot of (showAll() ? day.slots : (day.slots | slice:0:6)); track slot) {
              @if (slot.Taken) {
                <p class="calendar-day--slot-taken">
                  {{ slot.Start | date: 'HH:mm' }}
                </p>
              } @else {
                <a
                  class="calendar-day--slot"
                  (click)="onSelectSlot.emit(slot)"
                  >{{ slot.Start | date: 'HH:mm' }}</a
                >
              }
            }
          </div>
        </div>
      }
      @if(showAll()) {
        <button (click)="showAll.set(false)">Less</button>
      } @else {
        <button (click)="showAll.set(true)">See more hours</button>
      }
    </div>
  }

  <button (click)="next.emit()">></button>
</div>
