.calendar {
  display: flex;
  position: relative;

  &-nav {
    font-size: 25px;
    border: none;
    color: #719ad2;
    background-color: var(--highlight-background-color);
    border-radius: 50%;
    padding: 1px 8px;
    position: absolute;
    cursor: pointer;
    top: 44px;

    &:disabled {
      opacity: 0.7;
      background-color: transparent;
      cursor: not-allowed;
      z-index: 10;
    }

    &.prev {
      left: 10px;
    }

    &.next {
      right: 10px;
    }
  }

  &-container {
    background-color: white;
    margin-top: 30px;
    border-radius: 5px;
    font-size: 12px;
    position: relative;
    padding: 0 30px;
  }

  &-button {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: white;
    border: none;
    border-top: 1px solid lightgray;
    padding: 10px 0 25px 0;
    color: var(--highlight-color);

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  &-day {
    padding: 30px 24px;
    width: 100%;

    &--body {
      display: flex;
      flex-direction: column;
    }

    &--slot {
      padding: 7px;
      background-color: #eef4fe;
      border: 1px solid #eef4fe;
      color: #2e6cc0;
      cursor: pointer;
      border-radius: 5px;
      margin: 5px;

      &.selected {
        background-color: #2e6cc0;
        color: white;
      }

      &:hover,
      &:focus {
        border-color: #3d83df;
      }

      &-taken {
        text-decoration: line-through;
        margin: 5px;
        padding: 7px;
      }
    }
  }
}

.second-line {
  font-size: 11px;
}
