input.loading {
  text-decoration: line-through;
}

.input-container {
  position: relative;
  display: inline-block;
}

input {
  width: 300px;
  padding: 10px 10px 10px 40px;
  height: 30px;
  font-size: 16px;
}

.spinner {
  position: absolute;
  left: 10px;
  top: calc(50% - 13px);
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border: 3px solid #f3f3f3; /* Light color */
  border-top: 3px solid #3498db; /* Blue */
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.calendar-icon {
  position: absolute;
  left: 6px;
  top: 10px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
