input.loading {
  text-decoration: line-through;
}

.input-container {
  position: relative;
}

input.date-time-input {
  width: 100%;
  padding: 10px 10px 10px 40px;
  border-color: transparent;
  height: 30px;
  font-size: 14px;
  border-radius: 5px;
  margin-top: 30px;
  margin-bottom: 30px;
  min-height: 50px;
  box-sizing: border-box;
}

.spinner {
  position: absolute;
  left: 10px;
  top: calc(50% - 13px);
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border: 3px solid #f3f3f3;
  border-top: 3px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.calendar-icon {
  position: absolute;
  left: 10px;
  top: 43px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
